@layer reset, base, tokens, recipes, utilities;
@layer tokens {
  :root {
    --colors-canvas: #f6f4ef;
    --colors-accent: #ac4b12;
  }
}
@layer utilities {
  .shared {
    color: var(--colors-accent);
  }
  .svelte-marker > span {
    display: inline-flex;
  }
}
